.main {
  max-width: 50vw;
  font-size: 0.9rem;
  margin: auto;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .mainComments {
    border-bottom: solid 1px gray;
    margin-right: 1rem;

    ul {
      list-style: none;
    }

    .user {
      color: black;
      font-weight: 600;

      .comment {
        margin-right: 1rem;
        list-style: none;
      }
    }
  }
}
