.replies ul {
  list-style: none;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;

  .comment {
    list-style: none;
  }
  .user {
    color: rgb(27, 0, 88);
    font-weight: 600;
  }

  .nestedReplies {
    margin-left: -1rem;
  }
}

@media (max-width: 62em) {
  .replies ul {
  }
}
